<h2>{{vm.title}}</h2>

<div class="jumbotron">
    <div ng-repeat="message in vm.messages" class="text-center">
        {{message.user}} - {{message.text}}
    </div>
</div>


<div>
    <button type="button" class="btn btn-danger" ng-click="vm.turnFeedOff()">Turn feed off</button>
    <br/><br/>
</div>

<div class="row marketing">

    <input type="text" class="form-control" ng-model="vm.currentUser"/>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="vm.currentText"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="vm.sendMessage()">Send</button>
        </span>
    </div>

    <!--<input type="text" class="form-control" ng-model="vm.message.text"/>
    <button type="button" class="btn btn-lg btn-success" ng-click="vm.setMessage()">Set Message</button>
    <button type="button" class="btn btn-lg btn-warning" ng-click="vm.updateMessage()">Set Message</button>
    <button type="button" class="btn btn-lg btn-danger" ng-click="vm.deleteMessage()">Set Message</button>-->
</div>